[Unit]
Description=RNAS accel-ppp RADIUS NAS Server
Documentation=https://github.com/Lancer2049/RNAS
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/var/run/accel-ppp/accel-ppp.pid
ExecStart=/usr/local/sbin/accel-pppd -c /etc/accel-ppp.conf -d -p /var/run/accel-ppp/accel-ppp.pid
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
